*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(ima.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover ;

}
body{
   
  
    background:url('imagenes/photo1697923059\ \(2\).jpeg');
  background-size: cover;
    background-position: center;
}
form{
   
    padding: 50px;
    display:flex ;
    flex-direction: column;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, o.2) ;
    border-radius: 15px ;
    background-color: rgb(12, 130, 226);
    border: 3px solid rgb(0, 2, 8);
    background:linear-gradient(rgb(59, 56, 56), #1162ac, rgb(54, 50, 50));
}
form .btndiv{
align-items: center;
padding: 0px 100px;
}
h2{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(6, 1, 10);
    margin-bottom: 25px;
}
label, p {
    font-size: 17px;
    color: rgb(11, 11, 12);
    margin-bottom: 15xp;   
}
.texto{
    
    font-size:20px ;
    color: rgb(5, 7, 7);
    text-transform: uppercase;

}
input{
    padding: 11px 11px;
    border: 1px rgb(32, 172, 88);
    border-radius: 20px;
    margin-bottom: 25px;
    background-color: antiquewhite;
    outline: none;
    color: rgb(10, 4, 4);
    font-size: 20px;
    border: 3px solid rgb(13, 40, 161);
}
.btndiv button{
    align-content: center;
    padding: 10px 20px;
    background-color: rgb(11, 24, 24);
    font-size: 15px;
    color: azure;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 10%;
    border: 3px solid rgb(13, 40, 161);
    
    
}
.btn button{
    
    padding: 10px 20px;
    background-color: rgb(6, 70, 70);
}
.remenber{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
