@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  body{
    background-color: rgb(2, 10, 0 );
    font-family: 'Poppis', sans-serif;
  }

  .container{
    max-width: 1200px;
    margin: 0 auto;
} 
.swiper-button-prev::after{
    font-size: 25px;
}
.swiper-button-next::after{
    font-size: 25px;
}
.swiper-button-next{
    color: brown;
}
.swiper-button-prev{
    color: brown;
}
.swiper-pagination-bullet{
    background-color: antiquewhite;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: maroon;
}
.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.navbar{
    display: flex;
}
.menu-1{
    margin-right: 180px;
}
.menu-2{
    margin-left: 180px;
    display: flex;
    align-items: center;
}
.logo-1{
    width: 0;
}

.logo-2{
    width: 150px;
    
}
.socials{
    display: flex;
}

.social{
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid red;
    border-radius: 50%;
}
.social:hover{
    background-color: red;
}
.social img{
    margin: 8px 0 0 10px;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: aliceblue;
    display: block;
}
.menu .navbar ul li a:hover{
    color: red;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    margin-top: 200px ;
    padding-bottom: 50px;
}
.header-content h1{
  font-size: 50px;
  color: darkgoldenrod;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  
}
.slider{
    display: flex;
    align-items: center;
}

.slider-txt{
    margin-left: 85px;
    width: 50%;
}

.slider-txt h1{
    font-size: 70px;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 800;
}
.slider-txt p{
    font-size: 18px;
    color: rgb(252, 253, 253);
}
.slider-img {
    width: 50%;
}
.slider-img img{
    margin-right: 200px;
    width: 510px;
}
.products{
    background-color: rgb(17, 12, 12);
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0px;
}
.tabs label{
    width: 15%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: burlywood;
    font-weight: 700;
    transition: background ease 0.2s;
}
.tabs .tab{
    order: 99;
    flex-grow: 1;
    width: 100%;
    display:none ;
    padding-top: 25px;
}

.tabs input[type="radio"]{
    display: none;
}

.tabs input[type="radio"]:checked + label{
    border-bottom: 2px solid red;
    color: aliceblue;
}
.tabs input[type="radio"]:checked + label+ .tab{
    display: block;
}
.product{
    display: flex;
    align-items: center;
    padding: 25px;
    margin: 0 10px;
}
.product-img{
    width: 50%;
    text-align: left;
}
.product-img h4{
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: aliceblue;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid chocolate;
    border-radius: 10px;
    margin-bottom: 50px;
    
}
.product-img img{
    width: 150px;
    height: 120px;
}
.product-txt{
    width: 50%;
    margin-left: 10px;
    text-align: left;
}
.product-txt h4{
    color: aliceblue;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 80px;
    margin-bottom: 5px;
}
.product-txt p{
    color: #A7A7A7;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span{
    color: antiquewhite;
    font-size: 16px;
    margin-bottom: 15px;
}
.info{
    padding: 100px 0px;
    display: flex;
    align-items: center;
}
.info-img{
    width: 50%;
}
.info-img img{
    width: 500px;
    height: 250px;
}
.info-txt{
    width: 50px;
}
.info-txt h2{
    font-size: 75px;
    color: rgb(235, 237, 238);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p{
    font-size: 18px;
    color: rgb(240, 139, 8);
    margin-bottom: 50px;
}
.btn-2{
    display: inline-block;
    padding: 15px 35px;
    background-color: red;
    color: aliceblue;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}

.btn-2:hover{
    background-color: rgb(22, 17, 17);
}
.horario{
    padding: 100px 0px;
    background-color: black;
}
.horario-info h2{
    font-size: 75px;
    color: aliceblue;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.horario-txt{
    display:  flex;
    justify-content: space-between;

}
.txt{
    color: #fdf7f7;
}
.txt h4{
    font-size: 18px;
    color: antiquewhite;
    margin-bottom:30px ;
}
.txt p{
    font-size: 18px;
    text-transform: uppercase;
font-weight: 600;
margin-bottom: 15px;

}
.footer{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;

}
.links h4{
    color: aqua;
    text-transform: uppercase;
    margin-bottom: 25px;

}
.links ul li a{
    color: #A7A7A7;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}