@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }

  body{
    background-color:#000000  ;
    font-family: 'Poppis', sans-serif;
    
  }

  .container{
    max-width: 1300px;
    margin: 0 auto;
} 
.swiper-button-prev::after{
    font-size: 50px;
}
.swiper-button-next::after{
    font-size: 50px;
}
.swiper-button-next{
    color: rgb(242, 248, 250);
}
.swiper-button-prev{
    color: rgb(248, 248, 248);
}
.swiper-pagination-bullet{
    background-color: rgb(56, 6, 19);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: rgb(77, 20, 20);
}
.menu{
    position:relative;
    top: 0;
    left: 0;
    right: 0;
   
    justify-content: center;
    z-index: 100;
}
.navbar{
   display: flex;
    background:black ;
    
   
 
}
.menu-1{
    margin-right: 200px;
}
.menu-2{
    margin-left: 500px;
    display: flex;
    align-items: center;
}
.logo-1{
    width: 0;
}

.logo-2{
    width: 150px;
    
}
.socials{
    display: flex;
}

.social{
    margin: 0 10px;
    height: 70px;
    width: 40px;
   
    border-radius: 50%;
}

.social img{
    margin: 8px 0 0 10px;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: rgb(235, 229, 226);
    display: block;
}
.menu .navbar ul li a:hover{
    color: red;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
    height: 100vh;
    margin-top: 10px ;
    padding-bottom: 50px;
    background: url('/imagenes/378.jpg');
 background-position: center;
    background-size: cover;
    align-items: center;
    padding: 0 5%;
}
.header-content h1{
  font-size: 70px;
  color: rgb(251, 253, 253);
  font-weight: 1000;
  text-align: center;
  
  
}

.slider{
    display: flex;
    align-items: center;
}

.slider-txt{
    margin-left: 75px;
    width: 50%;
}

.slider-txt h1{
    font-size: 60px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}
.slider-txt p{
    font-size: 20px;
    color: rgb(250, 249, 249);
}
.slider-img {
    width: 50%;
}
.slider-img img{
    margin-right: 200px;
    width: 480px;
}
.products{
    background:linear-gradient(black, #fdfeff, black);
    
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}
.tabs label{
    width: 20%;
    order: 1;
    display: block;
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    color: black;
    font-weight: 1000;
    transition: background ease 0.2s;
}
.tabs .tab{
    order: 99;
    flex-grow: 1;
    width: 100%;
    display:none ;
    padding-top: 15px;
}

.tabs input[type="radio"]{
    display: none;
}

.tabs input[type="radio"]:checked + label{
    border-bottom: 2px solid black;
    color: rgb(148, 186, 219);
}
.tabs input[type="radio"]:checked + label+ .tab{
    display: block;
}
.product{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 10px;
}
.product-img{
    width: 50%;
    text-align: left;
}
.product-img h4{
    display: inline-block;
    padding: 5px 7px;
    line-height: 15px;
    color: rgb(3, 3, 3);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 1000;
    border: 2px solid rgb(48, 22, 4);
    border-radius: 20px;
    margin-bottom: 50px;
    
}
.product-img img{
    width: 150px;
    height: 120px;
}
.product-txt{
    width: 50%;
    margin-left: 10px;
    text-align: left;
}
.product-txt h4{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 80px;
    margin-bottom: 5px;
}
.product-txt p{
    color:black;
    font-size: 16px;
    margin-bottom: 15px;
}

.product-txt span{
    color: rgb(31, 18, 151);
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 700;

}
.info{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
 background:linear-gradient(black, #1162ac, black);
  
}
.info-img{
    width: 50%;
    
}
.info-img img{
    width: 500px;
    height: 300px;
    border-radius: 30%;
}
.info-txt{
    width: 900px;
}

.info-txt h2{
   
    font-size: 75px;
    color: rgb(235, 237, 238);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 20px;
    color: rgb(239, 241, 239);
    margin-bottom: 50px;
}

.horario{
    padding: 0px ;
    background-color:#f9f9fc;
    max-width: 1500px;

}
.horario-info h2{
    font-size: 40px;
    color: rgb(3, 2, 0);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.horario-txt{
    display:  flex;
    justify-content: space-between;

}
.txt{
    color: #080600;
    
}
.txt h4{
    font-size: 30px;
    color: rgb(10, 10, 10);
    margin-bottom:30px ;
    font-weight: 1000;
}
.txt p{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 15px;

}
.footer{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;

}
.links h4{
    color: aqua;
    text-transform: uppercase;
    margin-bottom: 25px;

}
.links ul li a{
    color: #A7A7A7;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}